<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<h1>Registration</h1>
<% if flash[:registration_errors] %>
	<% flash[:registration_errors].each do |error| %>
		<li><%= error %></li>
	<% end %>
<% end %>
<form method='post' action='/users'>
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	First Name:
	<input type="text" name="first_name"><br>
	Last Name:
	<input type="text" name="last_name"><br>
	Email:
	<input type="email" name="email"><br>
	Password:
	<input type="password" name="password"><br>
	Confirm Password:
	<input type="password" name="password_confirmation"><br>
	<input type="submit">
</form>

<h1>Login</h1>
<%= flash[:login_errors] %>
<form method='post' action='/sessions'>
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	Email:
	<input type="email" name="email"><br>
	Password:
	<input type="password" name="password"><br>
	<input type="submit">
</form>
